.range{
    display: flex;
    flex-direction: column;
}
 
.conteudo{
    display: flex;
    
}

.label-ate {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 44px; /* mesma altura do po-combo */
    margin: 0 8px;

    white-space: nowrap;
    font-size: 14px;
}


.border{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 0;
    width: 90px;
    margin-left:-4px;
    margin-right: -4px;
    z-index: 99;
}

.border-combo{
    width: 40px;
    min-width: 40px;

    margin-left: -1px;
    margin-right: -2px;

    height: 45px;

    position: relative;
    top: 8px;
}